*.pickle
*.pkl
*.hdf5
*.h5
*.pyc
*.sw*
*~
/user_config.sh
/output
/.pytest_cache
*.tsv
.Rproj.user
/.idea
/.vscode
*.Rproj
*.nb.html
.Rhistory
/log
/log.*
/logs
/*.o*
.nfs*
*.tab
/results*
/saves
*.png
*.pdf
*.bak
*.zip
